/* RESET CSS  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Averta Demo PE Cutted Demo';
    /* max-width: 1440px; */
}

/* HEADER SECTION  */

header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
    max-width:  1440px;
    flex-shrink: 1;
}

header > img {
    cursor: pointer;
}

.logo {
    padding-left: 100px;
}

nav {
    padding-right: 150px;
}

nav>a {
    margin-left: 45px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.78px;
    letter-spacing: 0.01em;
    text-align: left;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
nav > a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}
nav > a:active {
    background-color: greenyellow;
    color: white;
}


/* HERO SECTION  */

.hero-section {
    width: 1372px;
    height: 608px;
    margin-top: 50px;
    margin-left: 68px;
    gap: 0px;
    opacity: 0px;

}

.hero-div {
    display: flex;
    justify-content: space-between;
}

.digital-div {
    width: 471px;
    height: 265px;
    margin-top: 139px;
}

.digital-div> h1{
    width: 462px;
    height: 49px;
    top: 239px;
    left: 120px;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.digital-div > p {
    width: 471px;
    height: 78px;
    top: 328px;
    color:#565656;
    line-height: 25.6px;
    font-size: 16px;
    margin-top: 30px;
}

.blue-eclipse {
    width: 129px;
    height: 130px;
    border-radius: 65px;
    background-color: #DAE9FF;
    margin-left: 550px;
    margin-top: -510px;
}

.yellow-angle {
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 100px 0px;
    background-color: #FFF5DB;
    border-radius: 0px 0px 100px 0px;
    margin-top: 300px;
    margin-left: 1100px;
}

.contact-btn {
    width: 215px;
    height: 64px;
    top: 439px;
    left: 121px;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    background-color: blue;
    color: white;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 20px;
    font-weight: bold;
    line-height: 24.72px;
    border: 1px blue;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.15s;
}

.contact-btn:hover {
    opacity: 0.7;
}

.contact-btn:active {
    background-color: green;
}

/* CLIENGT SECTION  */
.client-section {
    width: 1199.55px;
    height: 124px;
    margin-top: 100px;
    margin-left: 120px;
    gap: 0px;
    opacity: 0px;
}

.client-section > h1 {
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 40px;
    font-weight: bold;
    line-height: 49.44px;
    text-align: left;
    color:#000000;
    width: 189px;
    height: 49px;
}

.client-p> p {
    width: 336px;
    height: 58px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    margin-right: 50px;
}

.client-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* HOW CAN WE HELP YOUR BUSINESS SECTION  */

.services-section {
    width: 1358px;
    height: 867px;
    margin-top: 30px;
    margin-left: 82px;
    /* border: 1px solid blue; */
    position: relative;  
}

.help-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow {
    width: 178px;
    height: 178px;
    top: 1460px;
    left: 260px;
    gap: 0px;
    border-radius: 100px 0px 0px 0px;
    opacity: 0px;
    background-color: #FFF5DB;
}

.blue {
    width: 1047px;
    height: 619px;
    border-radius: 150px 0px 0px 0px;
    background-color: #F4F9FF;
    margin-top: 120px;
    }

    .box-div {
    width: 405px;
    height: 154px;
    margin-bottom: -80px;
    }

.pink-div {
    width: 120px;
    height: 120px;
    margin-top: -200px;
    margin-left:  1177px;
    border-radius: 60px;
    border: 8.8px solid #FF007A
}

.services-div {
    position: absolute;
    top: 280px;
}


.business > h1 {
    width: 396px;
    height: 52px;
    margin-left: 65px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 40px;
    font-weight: bold;
    line-height: 49.44px;
    text-align: left;
    color: black;
    margin-top: 60px;
}

.business > p {
    width: 396px;
    height: 52px;
    margin-left: 65px;
    margin-top: 80px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #565656;
}

.pretty {
    display: flex;
}

/* BUSINESS IDEA PLANNING  */
.group65 {
    width: 308px;
    height: 379px;
    /* border: 1px solid yellow; */
    background-color: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    left: 550px;
    bottom: 70px;
    box-shadow: 1px 1px 2px grey;   
    transition: background-color 0.15s;
}

.group65:hover {
    background-color:#F1F7FF;
}
.group65:active{
    background-color: greenyellow;
}

.group-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-search {
    background-color:#F1F7FF;
    width: 121px;
    height: 121px;
     border-radius: 20px 0px 0px 0px; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     border-radius: 29px;
}

.group-txt > h1 {
    width: 167px;
    height: 60px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-left: 40px;
}

.group-txt > p {
    width: 245px;
height: 44px;
font-family: 'Averta Demo PE Cutted Demo';
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: center;
color: #757575;
margin-top: 20px;
}

.group-txt-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FINANCIAL PLANNING SYSTEM  */

.group66 {
    width: 308px;
    height: 379px;
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    left: 930px;
    bottom: 145px;
    box-shadow: 1px 1px 2px grey;
    transition: background-color 0.15s;
}

.group66:hover {
    background-color: #FFF7E3;
}

.group66:active{
    background-color: greenyellow;
}

.wallet {
    background-color: #FFF7E3;
    width: 121px;
    height: 121px;
     border-radius: 20px 0px 0px 0px; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     border-radius: 20px;
}

.group-txt-div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-txt2 > h1{
    width: 199px;
    height: 60px; 
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-left: 35px;
}

.group-txt2> p {
    width: 245px;
    height: 44px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #757575;
    margin-top: 20px;
}

/* DEVELOPMENT WEBSITE AND APP  */

.group67 {
    width: 308px;
    height: 379px;
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    left: 550px;
    top: 200px;
    box-shadow: 1px 1px 2px grey;
    transition: background-color 0.14s;
}
.group67:hover {
    background-color: #FFF2F8;
}
 
.group67:active{
    background-color: greenyellow;
}

.core {
    background-color: #FFF2F8;
    width: 121px;
    height: 121px;
     border-radius: 20px 0px 0px 0px; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     border-radius: 29px;
}

.group-txt3 >h1{
    width: 239px;
    height: 60px; 
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-left: 35px;
}

.group-txt3 > p {
    width: 245px;
    height: 44px; 
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    color: #757575;
    margin-top: 20px;
    margin-left: 35px;
}

/* FINANCIAL PLANNING SYSTEM */

.group68 {
    width: 308px;
    height: 379px;
    /* border: 1px solid blueviolet; */
    background-color: #FFFFFF;
    border-radius: 40px;
    position: absolute;
    left: 930px;
    top: 120px;
    box-shadow: 1px 1px 2px grey;
    transition: background-color 0.15s;
}

.group68:hover {
    background-color: #DEFFEE;
}
.group68:active{
    background-color: greenyellow;
}


.chart-square {
    background-color: #DEFFEE;
    width: 121px;
    height: 121px;
     border-radius: 20px 0px 0px 0px; 
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 40px;
     border-radius: 29px;
}

.grou65:active {
    background-color: green;
}
/* GREAT DIGITAL PRODUCT SECTION  */
.product-section {
    width: 1200px;
    height: 436px;
    /* border-color: 1px solid blue; */
    margin-top: 50px;
    margin-left: 120px; 
    position: relative;
}

.product-div {
    display: flex;
    align-items: center;
}

.play-btn {
    position: absolute;
    left: 270px;
    bottom: 185px;
}

.eclipse-div {
    width: 129px;
    height: 130px;
    background-color: #FFF5DB;
    border-radius: 65px;
    margin-top: -140px;
    margin-left: 500px;
}

.rectangle {
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 100px 0px;
    background-color: #EFF1FF;
}

.product-txt > h1 {
    position: absolute;
    top: 150px;
    padding-left: 40px;
    width: 468px;
    height: 98px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 40px;
    font-weight: bold;
    line-height: 49.44px;
    text-align: left;
}

.product-txt > p {
    width: 532px;
    height: 104px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #565656;
    position: absolute;
    bottom: 45px;
    padding-left: 40px;
}
.product-txt {
    margin-left: 50px;
}

/* WHAT OUR HAPPY CLIENT SAY  */

.happy-client-section {
    width: 1264px;
    height: 597px;
    margin-left: 107px;
    margin-top: 100px;
    /* border: 1px solid blue; */
    }

.happy-div > h1 {
    margin-bottom: 20px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 40px;
    font-weight: bold;
    line-height: 49.44px;
    text-align: center;
    color: black;
}

.happy-div  >p {
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    color: #757575;
}

.happy-client-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.mathew-img {
    margin-top: 70px;
}
.mathew-paul > h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 153px;
    height: 30px;
    font-family: A'verta Demo PE Cutted Demo';
    font-size: 24px;
    font-weight: bold;
    line-height: 29.66px;
    text-align: center;
}

.mathew-paul >p {
    width: 412px;
    height: 78px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #565656;   
}

.pink-div2 {
    width: 120px;
    height: 120px;
    margin-top: -200px;
    margin-left: 20px;
    border-radius: 60px;
    border: 8.8px solid #FF007A
}

.slides {
    display: flex;
    align-items: center;
}

.blue-div {
    width: 16px;
    height: 16px;
    background-color: #2639ED;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
}

.grey-div {
    width: 16px;
    height: 16px;
    background-color:#E7F0FC;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    margin-left: 20px;
}
.yellow-div {
    width: 184px;
    height: 184px;
    background-color: #FFF5DB;
    border-radius: 92px;
   margin-left: 930px;
   margin-top: -310px;
}

/* SUBSCRIBE NEWSLETTER SECTION  */
.newsletter-section {
    width: 1272px;
    height: 387px;
    margin-left: 82px;
    margin-top:150px;
    /* border: 1px solid blue; */
 
}

.subscribe-div {
    display: flex;
    align-items: center;
    margin-top: 170px;
    margin-left: 120px;
}

.subscribe > h1 {
    width: 386px;
    height: 49px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Averta Demo PE Cutted Demo';
    line-height: 49.44px;
    text-align: left;
    margin-bottom: 20px;
}

.subscribe > p {
    width: 588px;
    height: 29px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #757575;
}

.yellow2 {
    width: 178px;
    height: 178px;
    border-radius: 0px 0px 0px 100px; 
    background-color: #FFF5DB;
    margin-top: -65px;
}

.peach {
    width: 1197px;
    height: 292px;
    margin-top: -330px;
    margin-left: 50px;
    border-radius: 75px 75px 75px 75px;
    background-color: #F4F9FF;
}


.navy-blue {
    margin-top: -290px;
    margin-left: 700px;
    width: 543px;
    height: 292px;
    background-color: #2639ED;
    border-radius: 75px ;
}

.input-div {
    width: 479px;
    height: 80px;
    border-radius: 60px 60px 60px 60px;
    background-color: white;
    margin-bottom: 20px;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input {
    border: none;
    padding: 10px 10px;
    font-size: 20px;
}


.contact-now-btn {
    width: 188px;
    height: 60px;
    padding: 20px 40px 20px 40px;
    border-radius: 60px 60px 60px 60px;
    background-color: #2639ED;
    color: white;
    border: none;
    cursor: pointer;  
    transition: opacity 0.15s;
}

.contact-now-btn:hover{
    opacity: 0.7;
}

.contact-now-btn:active {
    background-color: green;
}

/* FOOTER SECTION  */

.footer-section{
    width: 1200px;
    height: 348px;
    margin-left: 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;   
}

.footer-div  > h1{
    margin-bottom: 40px;
}

.learning {
    width: 270px;
    height: 88px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 14px;
    font-weight: bold;
    line-height: 22.4px;
    text-align: left;
    color: #565656;
    ;
}

.what-we-do {
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    width: 150px;
    height: 112px;
    top: 3843px;
    color: black;
}

.company1 {
    width: 90px;
    height: 84px;
    color: black;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
}

.policy{
    width: 55px;
    height: 84px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    color: black;
    }

 .connect {
    width: 71px;
    height: 56px;
    font-family: 'Averta Demo PE Cutted Demo';
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;


    }
.icons {
    display: flex;
    margin-top: 50px;
}

.icons >a {
    margin-right: 20px;
}
.victor{
   
    color: #A4A4A4;
    text-align: center;
}
